/* Efecto de aparición para los botones */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  button.add-category-btn,
  button.remove-category-btn {
    animation: fadeIn 0.5s ease-out;
  }
  
  /* Estilo para superponer texto en la imagen */
  .image-preview-container {
    position: relative;
    display: inline-block;
  }
  
  .image-preview-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .image-preview-container .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-preview-container:hover .overlay-text {
    opacity: 1;
  }
  

  /* Ocultar flechas en los navegadores Webkit (Chrome, Safari, etc.) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Ocultar flechas en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
