<div class="container mx-auto px-4 sm:px-8">
  <div class="py-8">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold leading-tight">Bautismo</h2>
      <div class="relative">
        <button class="menu-button focus:outline-none" (click)="toggleMenu()">
          <svg
            class="w-6 h-6 text-gray-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v.01M12 12v.01M12 18v.01"
            ></path>
          </svg>
        </button>
        <div
          *ngIf="menuVisible"
          class="menu-dropdown absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-20 border border-gray-200"
        >
          <button
            type="button"
            (click)="onDownloadExcel()"
            class="flex items-center w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900 focus:outline-none"
          >
            <i class="fas fa-file-excel mr-2 text-green-600"></i> Descargar xlsx
          </button>
          <button
            type="button"
            (click)="onDownloadCSV()"
            class="flex items-center w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-100 hover:text-gray-900 focus:outline-none"
          >
            <i class="fas fa-file-csv mr-2 text-blue-600"></i> Descargar csv
          </button>
        </div>
      </div>
    </div>
    <div class="my-2 flex sm:flex-row flex-col">
      <div class="flex flex-row mb-1 sm:mb-0">
        <div class="relative">
          <div class="flex items-center">
            <span class="mr-2">Filtrar por estado:</span>
            <div class="relative">
              <select
                class="h-full rounded border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none"
                (change)="onRequestStatusChange($event)"
                [(ngModel)]="requestStatus"
              >
                <option value="P">Pendiente</option>
                <option value="A">Aceptado</option>
                <option value="R">Rechazado</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
              >
                <svg
                  class="fill-current h-4 w-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 12l-5-5h10l-5 5z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 items-center">
        <span class="mr-2">Buscar por nombre:</span>
        <div class="relative">
          <select
            class="h-full rounded border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none"
            [(ngModel)]="selectedBaptism"
            (change)="onSearchSelectChange()"
          >
            <option value="">Todo</option>
            <option
              *ngFor="let baptism of baptisms"
              [value]="baptism.idBaptism"
            >
              {{ baptism.names }} {{ baptism.lastName }}
            </option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M10 12l-5-5h10l-5 5z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                #
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Nombres
              </th>
              <th
                class="px-5 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Apellido
              </th>
              <th
                class="px-5 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Fecha de Nacimiento
              </th>
              <th
                class="px-5 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Estado de Pago
              </th>
              <th
                class="px-5 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Lugar de Bautismo
              </th>
              <th
                class="px-5 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Fecha del Bautismo
              </th>
              <th
                class="px-5 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let baptism of displayedBaptisms; let i = index">
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{ (currentPage - 1) * itemsPerPage + i + 1 }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{ baptism.names }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{ baptism.lastName }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{ baptism.birthDate | date : "dd-MM-yyyy" }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p
                  class="inline-block rounded-full px-3 py-1 text-sm font-semibold leading-none
                           {{ getStatusColorClass(baptism.paymentStatus) }}"
                >
                  {{ getStatusText(baptism.paymentStatus) }}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p
                  class="text-gray-900 whitespace-no-wrap"
                  *ngIf="baptism.baptismPlace; else noDataMessage"
                >
                  {{ baptism.baptismPlace }}
                </p>
                <ng-template #noDataMessage>
                  <p class="text-gray-500">En desarrollo.</p>
                </ng-template>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p
                  class="text-gray-900 whitespace-no-wrap"
                  *ngIf="baptism.baptismDate"
                >
                  {{ baptism.baptismDate | date : "dd-MM-yyyy" }}
                </p>
                <p
                  class="text-gray-500 whitespace-no-wrap"
                  *ngIf="!baptism.baptismDate"
                >
                  Sin información.
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <div class="flex items-center space-x-4">
                  <button
                    class="text-blue-600 hover:text-blue-900"
                    (click)="viewDetails(baptism)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M2 12s4-8 10-8 10 8 10 8-4 8-10 8-10-8-10-8z"
                      />
                    </svg>
                  </button>
                  <button
                    *ngIf="baptism.requestStatus === 'P'"
                    class="text-green-600 hover:text-green-900"
                    (click)="editBaptism(baptism)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16.862 4.487L18.549 2.8a1.875 1.875 0 0 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.862 4.487zM16.862 4.487L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                      />
                    </svg>
                  </button>
                  <button
                    *ngIf="baptism.requestStatus === 'P'"
                    class="text-yellow-600 hover:text-yellow-900"
                    (click)="changeStatus(baptism)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 15l7-7 7 7"
                      />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="px-5 py-5 bg-white border-t flex flex-row items-center justify-between"
        >
          <span class="text-xs xs:text-sm text-gray-900">
            Mostrando {{ (currentPage - 1) * itemsPerPage + 1 }} a
            {{ (currentPage - 1) * itemsPerPage + displayedBaptisms.length }} de
            {{ totalItems }} resultados
          </span>
          <div class="inline-flex xs:mt-0">
            <button
              class="text-sm hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 rounded-l focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 disabled:opacity-50 {{
                currentPage === 1 ? 'pointer-events-none opacity-50' : ''
              }}"
              (click)="prevPage()"
              [disabled]="currentPage === 1"
            >
              <svg
                class="w-4 h-4"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 18l-6-6l6-6"
                ></path>
              </svg>
            </button>
            <button
              class="text-sm hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 rounded-r focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 disabled:opacity-50 {{
                currentPage * itemsPerPage >= totalItems
                  ? 'pointer-events-none opacity-50'
                  : ''
              }}"
              (click)="nextPage()"
              [disabled]="currentPage * itemsPerPage >= totalItems"
            >
              <svg
                class="w-4 h-4"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l6 6-6 6"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for editing baptism -->
<div *ngIf="baptismToEdit" class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen px-4">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <div
      class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-md w-full"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="text-center sm:text-left">
          <h3
            class="text-lg leading-6 font-medium text-gray-900"
            id="modal-headline"
          >
            Editar Bautismo
          </h3>
          <form>
            <div class="mt-2 grid grid-cols-2 gap-4">
              <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="paymentStatus"
                >
                  Estado de Pago
                </label>
                <select
                  [(ngModel)]="baptismToEdit.paymentStatus"
                  name="paymentStatus"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                >
                  <option [value]="'P'" [disabled]="true">Pendiente</option>
                  <option value="A">Aprobado</option>
                  <option value="D">Desaprobado</option>
                </select>
              </div>
              <div class="mb-4">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="baptismDate"
                >
                  Fecha del Bautismo
                </label>
                <input
                  [(ngModel)]="baptismToEdit.baptismDate"
                  name="baptismDate"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="baptismDate"
                  type="date"
                />
              </div>
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="baptismPlace"
              >
                Lugar de Bautismo
              </label>
              <input
                [(ngModel)]="baptismToEdit.baptismPlace"
                name="baptismPlace"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="baptismPlace"
                type="text"
              />
            </div>
            <div class="mb-4 grid grid-cols-2 gap-4">
              <div>
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="catechesis"
                >
                  Catequesis
                </label>
                <select
                  [(ngModel)]="selectedCatechesis"
                  name="catechesis"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="catechesis"
                >
                  <option disabled selected value="">
                    Catequesis asistidas
                  </option>
                  <option
                    *ngFor="let option of catechesisOptions.slice(1)"
                    [value]="option"
                  >
                    {{ option }}
                  </option>
                </select>
              </div>
              <div>
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="preparationTalk"
                >
                  Charla de Preparación
                </label>
                <select
                  [(ngModel)]="selectedPreparationTalk"
                  name="preparationTalk"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="preparationTalk"
                >
                  <option disabled selected value="">Charlas asistidas</option>
                  <option
                    *ngFor="let option of preparationTalkOptions.slice(1)"
                    [value]="option"
                  >
                    {{ option }}
                  </option>
                </select>
              </div>
            </div>
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="comment"
              >
                Comentario
              </label>
              <textarea
                [(ngModel)]="baptismToEdit.comment"
                name="comment"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="comment"
              ></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          (click)="saveBaptism()"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
        >
          Guardar
        </button>
        <button
          (click)="closeEditModal()"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for viewing details -->
<div
  *ngIf="selectedBaptismForView"
  class="fixed z-50 inset-0 overflow-y-auto flex items-center justify-center"
>
  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  <div
    class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full"
  >
    <div class="px-4 py-3 sm:px-6">
      <div class="flex justify-between items-center">
        <h3 class="text-lg font-medium text-gray-900">Detalles del Bautismo</h3>
        <button
          type="button"
          class="text-gray-700 hover:text-gray-900"
          (click)="closeViewModal()"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <hr class="my-2" />
      <div class="grid grid-cols-1 gap-2">
        <div class="flex" *ngIf="selectedBaptismForView.comment">
          <span class="text-gray-600 mr-2 font-semibold">Comentario:</span>
          <span>{{ selectedBaptismForView.comment }}</span>
        </div>
        <div class="flex" *ngIf="selectedBaptismForView.catechesis">
          <span class="text-gray-600 mr-2 font-semibold">Catequesis:</span>
          <span>{{ selectedBaptismForView.catechesis }}</span>
        </div>
        <div class="flex" *ngIf="selectedBaptismForView.preparationTalk">
          <span class="text-gray-600 mr-2 font-semibold"
            >Charla de Preparación:</span
          >
          <span>{{ selectedBaptismForView.preparationTalk }}</span>
        </div>
        <div class="flex">
          <span class="text-gray-600 mr-2 font-semibold">Creado en:</span>
          <span>{{
            selectedBaptismForView.createdAt | date : "dd MMMM yyyy, HH:mm:ss"
          }}</span>
        </div>
        <!-- Message when no information is available -->
        <div
          *ngIf="
            !selectedBaptismForView.comment &&
            !selectedBaptismForView.catechesis &&
            !selectedBaptismForView.preparationTalk
          "
          class="flex"
        >
          <span class="text-gray-600 mr-2 font-semibold"
            >Todavía no hay información disponible.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for changing status -->
<div
  *ngIf="selectedBaptismForStatusChange"
  class="fixed z-50 inset-0 overflow-y-auto flex items-center justify-center"
>
  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  <div
    class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full mx-4"
  >
    <div class="px-6 py-4">
      <div class="flex justify-between items-center">
        <h3 class="text-lg font-medium text-gray-900">
          Cambiar Estado de Solicitud
        </h3>
        <button
          type="button"
          class="text-gray-700 hover:text-gray-900"
          (click)="closeStatusChangeModal()"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <hr class="my-4" />
      <div class="grid grid-cols-2 gap-4">
        <div
          class="flex flex-col items-center justify-center border border-gray-400 rounded p-4"
        >
          <div class="text-red-500 mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M11.293 10l4.146-4.146a.5.5 0 0 0-.708-.708L10.586 9 6.44 4.854a.5.5 0 0 0-.708.708L9.878 10l-4.146 4.146a.5.5 0 0 0 .708.708L10.586 11l4.146 4.146a.5.5 0 0 0 .708-.708L11.293 10z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <button
            type="button"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="setStatus('R')"
          >
            Rechazado
          </button>
        </div>
        <div
          class="flex flex-col items-center justify-center border border-gray-400 rounded p-4"
        >
          <div class="text-green-500 mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
              <path
                fill-rule="evenodd"
                d="M10 2a8 8 0 100 16 8 8 0 000-16zM4 10a6 6 0 1112 0 6 6 0 01-12 0z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <button
            type="button"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            (click)="setStatus('A')"
          >
            Aceptado
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
