<nav class="bg-gray-800 flex justify-between items-center p-4">
  <div class="flex items-center space-x-4">
    <button (click)="toggleSidebar()" class="text-white">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="flex items-center space-x-4">
    <i class="fas fa-bell text-white"></i>
    <div class="flex items-center space-x-2">
      <span class="text-white">{{ userName }}</span>
      <!-- Profile Image -->
      <div class="relative">
        <img
          src="./assets/img/profile.jpg"
          alt="Usuario"
          class="h-8 w-8 rounded-full cursor-pointer"
          (click)="toggleProfileModal()"
        />

        <!-- Profile Modal -->
        <div *ngIf="showProfileModal" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
          <a
            href="#"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            (click)="logout()"
          >Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</nav>

